        <div class="large-3 small-4 medium-6 columns">
          <h4><span class="right welcome">Welcome, <%= @current_user.username %>! </span></h4>
          <div class="row">
            <a href="/signout" class="button small right">Logout</a> 
          </div>
        </div>
      </div>

      <div class="large-5 columns left">
        <div class="panel small-top-mar">
          <table>
            <thead>
              <tr>
                <th class="text-center" width="168">Total Matches</th>
                <th class="text-center" width="168">Match Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Match Wins Here</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="text-center" width="168">Match Losses</th>
                <th class="text-center" width="168">Game Wins</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Wins Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Game Losses</th>
                <th class="text-center" width="168">Game Ties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Total Here</td>
                <td class="text-center">Total Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Favorite Move</th>
                <th class="text-center" width="168">Highest Winning Move</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">Move Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Lowest Winning Move</th>
                <th class="text-center" width="168">Rock %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Move Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody><thead>
              <tr>
                <th class="text-center" width="168">Paper %</th>
                <th class="text-center" width="168">Scissors %</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">% Here</td>
                <td class="text-center">% Here</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="large-7 columns small-top-mar">
        <div class="panel">
          <h3 class="text-center">Active Matches</h3>
         
<!-- insert persister_round-stuff -->

          </div>
        <form action = "/control_panel" method = "post">
          <input type="submit" class="button expand" name="create-match" value="Create Match"/>
          <% if flash[:alert] %>
            <%= flash[:alert] %>
          <% end %>
        </form>
        <div class="panel">
          <h3 class="text-center">Available Matches</h3>
          <div class="small-7 small-centered columns">
            <table>
              <tr>
                <th>Match ID</th>
                <th>Opponent (click to join)</th>
              </tr>
              <% @check_host.each do |x| %>
                <tr>      
                  <td class="text-center"><%= x[0] %></td>
                  <td class="text-center">
                    <a href= <%= '/arena/' + x[0] + '/' + x[2] %> ><%= x[1] %></a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>